<!--The content below is only a placeholder and can be replaced.-->
<div class="HolyGrail">
  <header class="HolyGrail-header"><app-header [titolo] = "title"></app-header></header>
  <div class="HolyGrail-body">
    
    <main class="HolyGrail-content">CONTENT <p><small><router-outlet></router-outlet></small></p></main>
    
    <nav class="HolyGrail-nav"><app-nav></app-nav></nav>
    
    <aside class="HolyGrail-ads"><app-ads></app-ads></aside>
    
  </div>
  <footer class="HolyGrail-footer"><app-footer [trademark] = "trademark"></app-footer></footer>
</div>


